/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.icons-orange {
  color: #FD7A35;
}

#features {
  margin-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 85px;

  h2 {
    margin-bottom: 40px;
  }
  span {
    margin-bottom: 40px;
  }
  .btn {
    margin-top: 47px;
  }
}

#team {
  background-color: rgba(0,0,0,0.08) ;
  margin-top: 60px;
  padding-top: 65px;
  padding-bottom: 90px;
}

.team-member {
  h4 {
    margin: 15px;
  }
}

.section-heading {
  margin-top: 20px;
  margin-bottom: 60px;
}

.features-top {
  margin-bottom: 35px;
}

//bouncing arrow

.arrow {
  text-align: center;
  a {
    color: #FD5959;
    text-decoration: none;
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
