//Update CSS

.personalised-url {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 5px;
  margin-bottom: 5px;
}


// INDEX CSS
.place-title {
  padding: 20px;
  padding-bottom: 15px;
}

.container-place {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 85vw;
}

.place-card-block {
  width: 90%;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.085);

  h2 {
    size: 15px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.place-img-block {
  margin-bottom: 5px;
  height: 300px;
}

// Mise en page photo
.place-card-img {
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  background-position:center center;
  background-repeat: no-repeats;
}

.flex-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  a {
    margin-left: 15px;
    width: 90%;
    margin-top: 10px;
  }
}

// CALENDAR CSS
.calendar-block {
  padding-top: 10px;
  padding-bottom: 40px;
  margin: 20px;
}

// height grid from week/day view
.fc-time-grid .fc-slats td {
  height: 10px;
}

.place-booking-form > * {
  margin: 20px;
  padding: 10px;
}

// SHOW PLACE
.header-place {
  height: 50vh;
  color: white;
  position:relative
}

#background-place-header {
  background: no-repeat center center fixed;
  background-size: cover;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  filter: blur(3px);
  z-index:-1;
}

.header-item-image {
  height: 40vh;
}

.place-img-header {
  height: 100%;
  border-radius: 0.5%;
}

.header-block {
  padding: 20px
}

.place-border-block {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
  border-radius: 0.5%;
  color: black;
  height: 40vh;
  padding-top: 10px;
  padding-left: 15px;
  background-color: #F2F2F2;
  opacity: 0.97;
  h2 {
    padding-top: 0px;
    margin-top: 0px;
  }
}

// new place form

#background-form {
  border: 1px solid #777777;
  padding: 50px;
  margin: 15px;
  border-radius: 0.5%;
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
  h1 {
    font-size: 30px;
  }
}

#whitelists{
  h3 {
    font-size: 20px;
  }
  a:hover {
    color: #FD7A35;
    text-decoration: none;
  }
}

.links {
  a:hover {
    color: #FD7A35;
    text-decoration: none;
  }
}

.marker-loaded {
  .map-marker { visibility: visible; }
}
