
<div class="booking-title">
  <h1>My bookings <%= link_to "<i class= 'fa fa-plus'></i>  Book a new Place".html_safe, places_path, class:'btn btn-round btn-success' %></h1>
</div>


<div class='container container-booking'>
  <div class="row">
  <% @bookings.each do |booking| %>
    <% if Date.today < booking.end_time   %>
    <%= render 'booking-card-futur', booking: booking %>
    <% end %>
  <% end %>
  </div>
</div>

<div class="booking-title">
  <h1>My pastbookings</h1>
</div>


<div class='container container-booking'>
  <div class="row">
  <% @bookings.each do |booking| %>
    <% if Date.today > booking.end_time   %>
    <%= render 'booking-card-past', booking: booking %>
    <% end %>
  <% end %>
  </div>
</div>




