<div class="footer">
  <ul class="list-inline social-buttons">
    <li>
      <a href="https://twitter.com/matleroux">
        <i class="fa fa-twitter icons-white"></i>
      </a>
    </li>

    <li>
      <a href="https://facebook.com/lewagon">
        <i class="fa fa-facebook icons-white"></i>
      </a>
    </li>

    <li>
      <a href="https://github.com">
        <i class="fa fa-github icons-white"></i>
      </a>
    </li>
  </ul>
  <p class="footer-text">
    calendr.io is a project developped during the Coding Bootcamp program of <a href="http://www.lewagon.com" class="footer-wagon-link">Le Wagon São Paulo</a>
  </p>
</div>
