<div class="col-xs-12 col-sm-4">
  <div class="place-booking-form">
    <h3>Make a booking</h3>
    <%= simple_form_for [@place, @booking] do |f| %>
    <%= f.input :start_time, as: :string, label: 'I want to book from...', input_html: { class: 'datepickermin' } %>
    <%= f.input :end_time, as: :string, label: '...up until...', input_html: { class: 'datepickermin' } %>
    <%= f.button :submit, 'Book it :)', class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
