<div class="col-xs-12 col-sm-8">
  <div class="flex-column">
    <ul class="list-unstyled" id="place-description">
      <li><h1><%= place.name %></h1></li>
      <li><%= place.address %></li>
    </ul>
  </div>
</div>
