<div class="nested-fields">
  <div class="col-xs-10">
    <%= f.input :email, label: "", placeholder: "someone_you_trust@whatever.com" %>
  </div>
  <div class="col-xs-2">
    <h4 class="align-center">
      <%= link_to_remove_association "<i class= 'fa fa-times'></i>".html_safe, f %>
    </h4>
  </div>
  <br>
</div>
