<div class="nested-fields field">
  <%= f.input :email, label: false, placeholder: "someone_you_trust@email.com" %>
  <%= link_to_remove_association "remove user".html_safe, f, height: '30px' %>
</div>
