 <% @image = @place.photo ? (cl_image_path @place.photo.path) : (image_path 'photo1.jpg')   %>

 <%= render 'header_show_place'%>

<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="calendar-form-block">
        <%= render 'places/calendar' %>
        <%= render 'places/place_booking', place: @place %>
      </div>
    </div>
  </div>
</div>
<%= render 'calendar' %>

