<h2>Congrats! You received an invitation to <%= @place.name%></h2>


<p>Hi,</p>
<p>You received an invitation to access <%= @place.name%>. You can now book the place anytime you want by accessing its <%= link_to 'calendrio', place_url(@place) %>.</p>
<p>The Calendr.io team</p>
